@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');


body {
    font-family: 'Nunito Sans', sans-serif;
    color: #102a43;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 40px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    /* font-weight: 500; */
}

input[type="text"] {
    width: 80%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border: 1px solid #444;
}

button {
    padding: 10px;
    border: none;
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
}




ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    border-bottom: 1px solid #eee;
    padding: 10px 0;
}

.task-text {
    flex-grow: 1;
}

.task-actions {
    margin-left: 10px;
}

.mark-complete-icon {
    color: #4caf50;
    cursor: pointer;
    margin-right: 10px;
}

.edit-icon {
    color: #555;
    cursor: pointer;
    margin-right: 10px;
}

.delete-icon {
    color: red;
    cursor: pointer;
    margin-right: 10px;
}

.completed {
    text-decoration: line-through;
    color: #999;
}