@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Jost', sans-serif;

    background-color: #F3F8FF;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 40px auto;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

header {
    background: #E6F2FE;
    padding: 25px;
    border-radius: 15px 15px 0 0;=
}

input[type="text"] {
    font-family: 'Jost', sans-serif;
    width: 80%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #2A62FE;
    opacity: 0.5;
    border-radius: 5px;
}

button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #2A62FE;
    color: #fff;
    cursor: pointer;
}


.current-tasks {
    padding: 10px 25px;
}

.current-tasks h3 {
    color: #1D1F28;
    background: #F0F0F0;
    border-radius: 5px;
    padding: 15px;
}


ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    border: 1px solid #eee;
    padding: 15px;
    border-radius: 5px;
}

.task-text {
    flex-grow: 1;
}

.task-actions {
    margin-left: 10px;
}

.mark-complete-icon {
    color: #4caf50;
    border: 1px solid #4caf50;
    opacity: 0.7;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    margin-right: 10px;
}

.edit-icon {
    color: #2A62FE;
    border: 1px solid #2A62FE;
    opacity: 0.5;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    margin-right: 10px;
}

.delete-icon {
    color: red;
    border: 1px solid red;
    opacity: 0.5;
    border-radius: 5px;
    padding: 5px 7px;
    cursor: pointer;
    margin-right: 10px;
}

.completed {
    text-decoration: line-through;
    color: #999;
}